body
{
    /*background-image: url("assets/bg-newspaper.jpg");*/
    background-color: rgb(180, 169, 162);
    background-image: url("assets/cosy.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    background-position: right;
}

header
{
    margin-top: 0;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.418);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
}

h1
{
    font-family: 'Niconne', cursive;
    font-size: 7vh;
}
.main
{
    margin-top: 25vh;
}


blockquote
{
    background-color: rgba(0, 0, 0, 0.178);
    /*border-radius: 10vh;*/
    font-size: 3.5vh;
    text-align: left;
    position: fixed;
    width: 65vh;
    height: 100;
    
}

/*.cosy
{
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
}*/

button
{
    background-color: rgb(51, 34, 22);
    font-size: 3vh;
    color: #fff;
    border-radius: 10%;
    box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.233);
    margin-top: 20vh;
}